@import '/src/App.scss';
.collection-preview{
    font-size: 1.5rem;
    margin: 0 2rem;
    padding: 2rem 2rem;
    &__preview{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include respond(phone) {
            justify-content: center;
        }
    }
}