@import '/src/App.scss';
.cart-dropdown{
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 1px solid black;
    background-color: #fff;
    top: 80px;
    right: 0;
    z-index: 5;
    
    &__cart-items{
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }
    .empty-message{
      font-size: 1rem;
      margin: 1.8rem auto;
    }
  .button{
    margin-top: auto;
    background-color: black;
    background-color: $color-slate;
    margin-top: 1rem;
    &:hover{
        background-color: $color-light-slate;
    }
  }
}