@import '../../App.scss';
.collection-item{
     display: flex;
     flex-direction: column;
     background-color: whitesmoke;
     box-shadow: 0 1rem 1rem rgba(0,0,0,.2);
     padding: 1rem 1rem;
     border-radius: 0;
     justify-content: space-between;
     width: 20rem;
     transition: all .3s;
     
     
  &:not(:last-child){
   margin-bottom: 1rem;
  }
    
    &:hover{
      box-shadow: 0 1.5rem 1.5rem rgba(0,0,0,.2);
      
    }
   

     
     &__image{
        width:100%;
        height: 17rem;
     }
     &__price{
        color: $color-slate;
        font-weight: bold;
     }
     &__name{
      font-weight: 600;
      font-size: 1.2rem;
     }
     &__about{
      margin-top: .5rem;
      line-height: 1.4;
      font-size: 1rem;
     }
     .addBtn{
      align-self: flex-end;
      width: 45%;
      margin-top: 1rem;
      &:hover{
         background-color: $color-light-slate !important;

      }
     }
    
   
}