@import "/src/App.scss";
.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  @include flexCenter('row');
  cursor: pointer;
  
}
.shopping-icon {
  width: 3rem;
  height: 3rem;
}
.item-count {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  top: 7px;
  right: 5px;
  height: 2rem;
  width: 2rem;
  @include flexCenter("row");
  border-radius: 100%;

  background-color: $color-slate;
 
}
