@import '/src/App.scss';
.checkout{
    position: relative;
    .back-icon{
        position: absolute;
        top: 0r;
        left: 1rem;
        font-size: 2rem;
        cursor: pointer;

    }
    &__container{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 3rem auto;
    font-size: 1rem;
}
&__header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    &--element{
        padding: .7rem 2rem;
        background-color: $color-slate;
        border-radius: 1.5rem;
       
    }
}
&__total{
    font-size: 2rem;
    
}

}
