@import "/src/App.scss";
.form__group {
  position: relative;

  &--input {
    border: none;
    outline: none;
    padding: 0.4rem 2rem;
    width: 90%;
    border-radius: 3px;
    margin-left: -.5rem;
   &::-webkit-input-placeholder{
    font-size: .7rem;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 1rem;
   }
  
  }
   &--icon{
    font-size: 1rem;
    color: $color-slate;
    position: absolute;
    top: .3rem; 
    border-right: 1px solid $color-slate;
    padding-right: .3rem;
   }
 
  
}
